html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.7;
}

a, a:visited {
    text-decoration: none;
    color: rgb(15, 79, 209);
}

a:hover {
    text-decoration: underline;
}

pre {
    padding: 8px 12px;
    line-height: 1.4rem;
    background: #f7f8fa;
    border: 1px solid #dce0e6;
    border-radius: 2px;
}

div.codehilite span {
    color: #000000;
}

div.codehilite span.c1 {
    color: #8e96a3;
}

div.codehilite span.na {
    color: #525761;
}

div.codehilite span.nv,
div.codehilite span.nc,
div.codehilite span.s2,
div.codehilite span.m,
div.codehilite span.no {
    color: #5c4ee5;
}

code {
    background: #f7f8fa;
    padding: 4px;
    color: rgb(198, 42, 113);
    border: 1px solid #dce0e6;
    border-radius: 2px;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

a code {
    color: #0f4fd1;
}

pre code {
    border: none;
    color: #000000;
}

div.codehilite code {
    padding: 0;
}

.admonition {
    display: block;
    padding: 16px;
    border: 1px solid rgb(191, 212, 255);
    background: rgb(251, 252, 255);
    border-radius: 4px;
    color: rgb(31, 33, 36);
    margin: 16px auto;
}

.admonition > strong {
    display: none;
}

.admonition.note {
    background: rgb(251, 252, 255);
}

.admonition > em {
    font-weight: bold;
    font-style: normal;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.admonition.note > em {
    color: rgb(14, 64, 163);
}

.admonition.warning {
    border-color: #fddcba;
    background-color: #fffdf6;
}

.admonition.warning > em {
    color: rgb(160, 125, 2);
}

.admonition.danger {
    border-color: #efc7cc;
    background-color: #fdfafb;
}

.admonition.danger > em {
    color: #7f222c;
}

.admonition p {
    margin: 0;
}

hr {
    height: 2px;
    margin: 2rem 0;
    background-color: #f5f5f5;
    border: none;
}
