<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>terraform</string>

	<key>CFBundleName</key>
	<string>Terraform</string>

	<key>DocSetPlatformFamily</key>
	<string>terraform</string>

	<key>dashIndexFilePath</key>
	<string>terraform/intro/index.html</string>

	<key>DashDocSetFamily</key>
	<string>dashtoc</string>

	<key>DashDocSetFallbackURL</key>
	<string>https://terraform.io</string>

	<key>isDashDocset</key>
	<true/>
</dict>
</plist>
